<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>      
    <add key="Bitso.BasePath" value="https://api.bitso.com" />
    <add key="Bitso.UserTradesPath" value="/v3/user_trades/?limit=100&amp;" />
    <add key="Bitso.UserBalancePath" value="/v3/balance/" />
  </appSettings>
</configuration>